<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="top: 106px;left: 50px; margin: 0px;width: 500px;height: 220px">
      <div class="modal-header">
        <h4 class="modal-title"> Tab Name</h4>
      </div>
      <div class="modal-body">
          <input type="text" id="tab" class="tabfield" placeholder="Enter Tab Name"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="noBtn">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="yesBtn" onclick="addTab()">Save</button>
      </div>
    </div>
  </div>
</div>