body {
    background-image: url('../images/RenIan.jpg');
    background-size: cover;
    opacity:0.6;
}

.lead_container {
   width: 100vw;
   height: calc(100vh - 50px);
   z-index:300;
   position: fixed;
   bottom: 0;
   
}

.lead_container .login {
    width: 20vw;
    height: 10vh;
    position: fixed;
    z-index: 300;
    bottom: 0;
    right: 0;
    background-color:seagreen;
    opacity: 0.7;
}

.title {
    left: 10%;
    position:fixed;
}

.title > h1 {
    font-size: 60px;
}