<!-- Dialog modal for task deletion -->
<div class="modal fade" id="yesnoShareModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal Content -->
		<div class="modal-content" id="yesnoShareContent">
			<div class="modal-header">
				<h4 id="modal-title-share" class="modal-title">Title</h4>
			</div>
			<div class="modal-body">
				<p id="modal-context-share">Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="noShareBtn">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="yesShareBtn">Yes</button>
			</div>
		</div>
	</div>
</div>
