<!-- Dialog modal for task detail -->			
<head>
<script type="text/javascript" src="/task/js/detailTask.js"></script>	
</head>	

<div class="modal fade" id="infoModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal Content -->
		<div class="modal-content" id="infoContent">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" id="infoClose">&times;</button>-->
				<h4 id="infoTitle" class="modal-title" align="center">yuy</h4>
			</div>
			<div class="modal-body" id="modal-body" style="line-height:30px">
				<p>Some text in the modal.</p>
			</div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-dismiss="modal" id="noBtn">OK</button>
	      </div>
		</div>
	</div>
</div>