<!-- Dialog modal for task deletion -->							
<div class="modal fade" id="yesnoModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal Content -->
		<div class="modal-content" id="yesnoContent">
			<div class="modal-header">
				<h4 id="modal-title" class="modal-title">Title</h4>
			</div>
			<div class="modal-body">
				<p id="modal-context">Some text in the modal.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="noBtn">Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="yesBtn">Yes</button>
			</div>
		</div>
	</div>
</div>
