<!-- Modal -->
<div class="modal fade" id="textboxModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="textboxContent">
      <div class="modal-header">
        <h4 class="modal-title">Title</h4>
      </div>
      <div class="modal-body">
        <input type="text" class="textfield" placeholder="hint"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary noBtn" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary yesBtn" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // textfield auto focus
  $('#textboxModal').on('shown.bs.modal', function() {
    $('input.textfield').focus();
  });
});
</script>