<!-- Dialog modal for blocking access -->
<div class="modal fade" id="warningModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal Content -->
		<div class="modal-content" id="warningContent">
			<div class="modal-header">
				<h4 id="modal-title" class="modal-title">Permission denied.</h4>
			</div>
			<div class="modal-body">
				<p id="modal-context">Please contact the project administrator.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="yesBtn">Cancel</button>
			</div>
		</div>
	</div>
</div>

<style>
#warningContent {
	top: 150px;
	left: 0px;
    margin: 0px;
}
</style>