Package: taas-webportal-docker-dep
Version: 1.0.0-1
Architecture: amd64
Maintainer: Kuan-Li Peng <George.Peng@itri.org.tw>
Depends: docker.io (>= 1.7.1) | docker-engine (>= 1.7.1)
Description: Prerequisites for ITRI Test-as-a-Service (TaaS) Web Portal (containerized)
 This is a meta package for satisfying the prerequisites for
 containerized installation of ITRI Test-as-a-Service (TaaS) Web Portal,
 especially for the Linux systems without a docker-compose package.
 By installing this meta package, a docker-compose release that supports
 the existing docker-engine will be installed if not present.
 .
 It should be noted that removal of this meta package does not remove
 docker-compose automatically, and manual uninstallation of docker-engine or
 docker-compose may break the operation of TaaS Web Portal
 without warnings in advance.
