<!DOCTYPE html>
<html>
<head>
  <%- include partial/head.ejs %>
  <script type="text/javascript" src="/login/js/autoFocus.js"></script>
  <script type="text/javascript" src="/login/js/ldapLogin.js"></script>
  <script type="text/javascript" src="/login/js/verifyLogin.js"></script>
  <script type="text/javascript" src="/login/js/verifySingup.js"></script>
</head>
<body class="indexbackground">
  <div class="center-logo"><img class="itri_logo_login" src="/images/itri_logo_en_white.png"></div>

  <div class='container navless-container'>
    <div class="content">      
      <hr class="loginline">
      <p class="sysMsg_red" id="alertBar"></p>
      <p class="sysMsg_red" id="htmlMsg"><%=htmlMsg %></p>
      
      <div class="row" >
        <div>    
          <div class="col-sm-offset-3 col-sm-6 text-center">
              <div class="logincontenttitle" >              
                Welcome                
              </div>
              <p class="logincontenttitletext">
              ITRI TaaS Protal for Auto Integration test(ITP4) is an outsourcing model in which testing 
              activities associated with some of an organization's business activities are 
              performed by a service provider rather than employees. 
              </p>
            <div class="loginrightfield">
              <div class="loginrightfieldtext">Login</div>
              <div class="loginrightfieldtab">
                <ul class="nav nav-tabs" >
                  <li class="active">
                    <a id="ldaptab" href="#ldapLogin" data-toggle="tab" data-focus="#ldapUser">LDAP Login</a>
                  </li>
                  <li class="">
                    <a id="logintab" href="#login" data-toggle="tab" data-focus="#user">Login</a>
                  </li>
                </ul>
              </div>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="ldapLogin">
                  <form class="form-horizontal" id="ldapLoginForm" name="ldapLoginForm" >
                    <fieldset><br/>
                      <div class="form-group">
                        <div class="col-lg-16">
                          <input type="text" class="form-control" id="ldapUser" name="ldapUser" placeholder="Username">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-16">
                          <input type="password" class="form-control" id="ldapPassword" name="ldapPassword" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="loginbutton">
                          <button type="button" class="btn btn-primary" id="ldaplogin" name="ldaplogin">LDAP Login</button>
                        </div>
                      </div>
                    </fieldset>
                      
                  </form>
                </div>
                <div class="tab-pane fade" id="login">
                  <form class="form-horizontal" id="loginForm" name="loginForm">
                    <fieldset><br/>
                      <div class="form-group">
                        <div class="col-lg-16">
                          <input type="text" class="form-control" id="user" name="user" placeholder="Username">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-lg-16">
                          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="loginbutton">
                          <button type="button" class="btn btn-primary" id="loginBtn" name="loginBtn">Login</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>   
              </div>
            </div>
          <br/>
          <!---->
          <form name="jiraLoginForm" class="hiddenform">
                    <input hidden type="hidden" id="os_username" name="os_username" >
                    <input hidden type="hidden" id="os_password" name="os_password" >
                    <input hidden type="hidden" id="os_cookie" name="os_cookie" value="true" >
                    <input hidden type="hidden" id="os_destination" name="os_destination" value='/browse/TAAS'>
                    <input hidden type="hidden" id="login" name="login" value='Log In'>
                    <input hidden type="hidden" id="atl_token" name="atl_token" value=''>
            </form>
            <form name="spiraTestLoginForm" class="hiddenform">
                    <input hidden type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTE3OTMyNDMyNQ9kFgJmDw8WAh4JUGFnZVRpdGxlZWQWAgIDD2QWDAIDDxYCHgRUZXh0BQlTcGlyYVRlc3RkAgcPFgIfAQUFNC4yLjBkAgkPFgIfAQUBOGQCCw9kFgICBQ8WAh4HVmlzaWJsZWhkAg8PDxYCHwEFI0luZHVzdHJpYWwgVGVjaG5vbG9neSBSZXNlYXJjaCBJbnN0ZGQCEw8PFgIfAQUJMjAwNi0yMDE2ZGQYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgEFK21wTG9naW4kY3BsTWFpbkNvbnRlbnQkTG9naW5Vc2VyJFJlbWVtYmVyTWXEhMbOdwOyxCf9+JLeFJXhvDITfCFhm+MSr2N80H3oug==" />
                    <input hidden type="hidden" name="mpLogin$cplMainContent$LoginUser$UserName" id="cplMainContent_LoginUser_UserName1" size="10" value="">
                    <input hidden type="hidden" name="mpLogin$cplMainContent$LoginUser$Password" type="password" id="cplMainContent_LoginUser_Password1" size="10"  value=""/>
                    <input hidden type="hidden" id="cplMainContent_LoginUser_btnLogin"  name="mpLogin$cplMainContent$LoginUser$btnLogin" value="Log In" />
            </form>
              <div class="loginrightfield">
                <div class="loginrightfieldtext">Create an account</div>
                <form class="form-horizontal" id="signUpForm" name="signUpForm" >
                  <fieldset>
                    <div class="form-group">
                      <div class="col-lg-16">
                        <input type="text" class="form-control" id="signUpUser" name="signUpUser" placeholder="Username" value = "">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-16">
                        <input type="text" class="form-control" id="signUpEmail" name="signUpEmail" placeholder="Email" value = "">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-16">
                        <input type="password" class="form-control" id="signUpPassword" name="signUpPassword" placeholder="Password" value = "">             
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-16">
                        <input type="password" class="form-control" id="signUpConfirmPassword" name="signUpConfirmPassword" placeholder="Confirm Password" value = "">             
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="loginbutton">
                        <button type="button" class="btn btn-primary" id="btnSignup" >Sign up</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
          </div>
        </div>  
      </div>      
    </div>
  </div>
<iframe name='ifJira' style="width:0px;hight:0px;visibility:hidden;display:none" src="" >
              <p style="visibility:hidden;">Your browser does not support iframes.</p>
</iframe> 
<iframe name='ifSpira' style="width:900px;hight:900px;visibility:hidden;display:none" src="" >
              <p style="visibility:hidden;">Your browser does not support iframes.</p>
</iframe>
</body>
</html>