<!DOCTYPE html>
<html>
<head>
	<%- include partial/head.ejs %>
	<script type="text/javascript" src="/project/js/delProject.js"></script>
</head>
<body class="iframebody"> 
	<%- include partial/header.ejs %>
	<%- include partial/dialogYesNo.ejs %>

	<div class="section-nav">
		<div class="container">
		  <div class="pro_hvcenter_title">
			<h3>
				<ul class="breadcrumb">
				  <li><a href="/dashboard">Dashboard</a></li>
				  <li class="active"><%=title%></li>
				</ul>
			</h3>
		  </div>
		</div>
	<hr class="titleline">
	</div>
	<div class="iframecontainer">
		<iframe name="ifSpira" id="ifSpira" class="dashboardiframe" src="http://140.96.27.80:8080/browse/TAAS" >
        &lt;p style="visibility:hidden;"&gt;Your browser does not support iframes.&lt;/p&gt;
      	</iframe>
	</div>
</body>
</html>